/* title_wrap START */
#wrap > div.title_wrap {
    border-bottom: thick double #dadada;
    margin: 10px; padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

/* menu_wrap START */
#wrap > div.menu_wrap {
    text-align: center;
}

#wrap > div.menu_wrap a {
    display: inline-block;
    width: 100px;
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 5px;
    text-align: center;
}

#wrap > div.menu_wrap a:hover {
    text-decoration: none;
    background-color: #f8f8f8;
}

/* sign_up_wrap START */
#wrap > div.sign_up_wrap {
    /* display: none; */
    text-align: center;
}

#wrap > div.sign_up_wrap input {
    width: 400px;
    padding: 10px;
    margin: 1px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

#wrap > div.sign_up_wrap input[type=button] {
    width: 100px;
    cursor: pointer;
}

/* sign_in_wrap START */
#wrap > div.sign_in_wrap {
    /* display: none; */
    text-align: center;
}

#wrap > div.sign_in_wrap input {
    width: 400px;
    padding: 10px;
    margin: 1px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

#wrap > div.sign_in_wrap input[type=button] {
    width: 100px;
    cursor: pointer;
}

/* sign_modify_wrap START */
#wrap > div.sign_modify_wrap {
    /* display: none; */
    text-align: center;
}

#wrap > div.sign_modify_wrap input {
    width: 400px;
    padding: 10px;
    margin: 1px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

#wrap > div.sign_modify_wrap button {
    width: 100px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 5px;
    cursor: pointer;
}

/* reservation_wrap START */
#wrap > div.reservation_wrap {
    text-align: center;
}

#wrap > div.reservation_wrap input {
    width: 400px;
    padding: 10px;
    margin: 1px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

#wrap > div.reservation_wrap span {
    font-size: 1.2em;
}

/* reservationList_wrap START */
#wrap > div.reservationList_wrap {
    display: none;
}

#wrap > div.reservationList_wrap div {
    margin: 2px auto; padding: 10px;
    width: 600px;
    border: 1px solid #dadada;
    border-radius: 5px;
}